.header {
    font-family: 'Roboto';
    font-weight: 400;
    // .header__top

    &__top {
    }

    // .header__top-inner

    &__top-inner {
        background-color: #fff;
        display: flex;
        gap: 120px;
        justify-content: space-between;
        align-items: center;
        height: 20vh;
        padding: 40px 0;

        @include _768 {
            height: 15vh;
        }
        @include _1170 {
            gap: 8px;
        }
    }

    // .header__logo

    &__logo {
        position: relative;
    }

    &__logo-img {
        @include _480 {
            display: none;
        }
    }

    &__logo-img-min {
        // display: none;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }

    // .header__nav

    &__basket {
        display: block;
        border: 1px solid #d4d4d4;
        border-radius: 33px;
        padding: 6px 10px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 10px;

        @include _1366 {
            border-radius: 50%;
            padding: 6px;
            // display: none;
        }

        @include _1170 {
            position: fixed;
            // right: 60px;
            z-index: 50;
        }

        &:hover .header__basket-img {
            background-color: $secondaryColor;
        }
    }

    // .header__basket-img

    &__basket-img {
        background-color: $mainColor;
        border-radius: 50%;
        width: 56px;
        height: 56px;
        display: flex;
        flex-wrap: wrap;
        gap: 7px;
        position: relative;
        transition: all 0.3s;

        &::before {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            display: block;
            background: url('../icons/basket.svg') no-repeat;
            width: 26px;
            height: 24px;
        }
    }

    // .header__basket-text

    &__basket-text {
        font-size: 17px;
        line-height: 29px;

        @include _1366 {
            display: none;
        }
    }

    // .header__basket-num

    &__basket-num {
        font-size: 18px;
        line-height: 18px;
        margin-right: 20px;
    }

    &__nav {
        font-size: 19px;
        line-height: 32px;
        flex-grow: 1;

        @include _1366 {
            font-size: 16px;
        }

        @include _1170 {
            position: fixed;
            right: 0;
            top: 0;
            background-color: #7eb693;
            z-index: 100;
            padding: 20px;
            transform: translateX(100%);
            transition: all 0.3s;

            @include _480 {
                padding: 0;
            }
        }
    }
    // .header__nav-list

    &__nav-list {
        display: flex;
        flex-wrap: wrap;
        gap: 40px;

        @include _1170 {
            flex-direction: column;
            height: 100vh;
            width: 260px;
            justify-content: center;
            align-items: center;
        }

        @include _480 {
            align-content: center;
            width: 100vw;
        }
    }

    // .header__nav-item

    &__nav-item {
        transition: all 0.3s;
        &:hover {
            color: $secondaryColor;
        }

        @include _1170 {
            &:hover {
                color: $btnColor;
            }
        }
    }
    // .header__nav-link

    &__nav-link {
        @include _1170 {
            font-size: 20px;
        }
    }

    &__nav-visible {
        @include _1170 {
            transform: none;
        }
    }

    .burger {
        display: none;
        position: relative;
        width: 30px;
        height: 20px;
        background-color: transparent;
        z-index: 101;
        position: fixed;
        @include _1170 {
            // right: 15px;
            display: block;
        }

        @include _480 {
            // right: 42px;
        }

        &__line {
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            width: 100%;
            height: 3.5px;
            background-color: $mainColor;
            border: 1px solid #d4d4d4;
            // transition: all .3s;
        }

        &::before,
        &::after {
            content: '';
            position: absolute;
            left: 0;
            width: 100%;
            height: 4px;
            background-color: $mainColor;
            transition: all 0.3s;
            border: 1px solid #d4d4d4;
        }

        &::before {
            top: 0;
        }

        &::after {
            bottom: 0;
        }
        @include _1170 {
            display: block;
        }
    }

    .burger-active .burger__line {
        opacity: 0;
    }

    .burger-active::before {
        top: 50%;
        transform: rotate(45deg);
        width: 20px;
    }
    .burger-active::after {
        width: 20px;
        bottom: auto;
        top: 50%;
        transform: rotate(-45deg);
    }

    // .header__basket

    // .header__body

    &__body {
        background: url('../images/bg1.jpg') no-repeat;
        background-size: 100% 100%;
        height: 80vh;
        overflow: hidden;

        @include _768 {
            height: 85vh;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    // .header__body-inner

    &__body-inner {
    }

    // .header__body-content

    &__body-content {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 30px;
        padding: 50px;
        @include _768 {
            align-items: center;
            justify-content: center;
        }
        @include _325 {
            gap: 15px;
            padding: 30px;
        }
    }

    // .header__body-subtitle

    &__body-subtitle {
    }

    // .header__body-title

    &__body-title {
        font-family: $fontTitles;
        font-weight: 700;
        font-size: 4em;
        line-height: 70px;
        letter-spacing: 0.36px;
        max-width: 496px;
        @include _1170 {
            font-size: 3em;
            line-height: 60px;
            max-width: 400px;
        }

        @include _768 {
            text-align: center;
        }

        @include _350 {
            font-size: 2.5em;
            line-height: 40px;
            max-width: 350px;
        }

        @include _325 {
            font-size: 2em;
            line-height: 40px;
            max-width: 300px;
        }
    }

    // .header__body-btn

    &__body-btn {
        background-color: $btnColor;
        border: 1px solid $btnColor;
    }
}

.row {
    padding: 140px 0;
    font-family: $fontTitles;
    @include _768 {
        padding: 70px 10px;
    }

    // .row__inner

    &__inner {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 50px;
        @include _768 {
            grid-template-columns: 1fr;
            grid-template-rows: repeat(2, 1fr);
            grid-gap: 30px;
        }
    }

    // .row__cards

    &__cards {
        height: 378px;
        position: relative;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: start;
        justify-content: center;
        transition: all 0.3s;
        &:hover {
            transform: scale(1.05);
        }

        @include _768 {
            height: 350px;
        }

        @include _600 {
            height: 300px;
        }

        @include _480 {
            height: 200px;
        }
    }

    // .row__cards-img

    &__cards-img {
        width: 100%;
        position: absolute;
        z-index: -1;
        border-radius: 30px;
    }

    // .row__subtitle

    &__subtitle {
        font-family: $fontSubTitles;
        font-weight: 400;
        font-size: 36px;
        line-height: 65px;
        letter-spacing: 0.36px;
        padding-left: 55px;
    }

    // .row__fruits-subtitle

    &__fruits-subtitle {
        color: #fff;
        @include _979 {
            padding-left: 30px;
        }
        @include _768 {
            padding-left: 55px;
        }
        @include _480 {
            padding-left: 30px;
        }
    }

    // .row__vegetables-subtitle

    &__vegetables-subtitle {
        color: $secondaryColor;
        @include _979 {
            padding-left: 30px;
        }
        @include _768 {
            padding-left: 55px;
        }
        @include _480 {
            padding-left: 30px;
        }
        @include _350 {
            font-size: 30px;
        }
    }

    // .row__title

    &__title {
        font-weight: 400;
        font-size: 40px;
        line-height: 52px;
        letter-spacing: 0.36px;
        max-width: 315px;
        padding-left: 55px;
        @include _979 {
            font-size: 30px;
            max-width: 250px;
            line-height: 40px;
            padding-left: 30px;
        }
        @include _768 {
            font-size: 40px;
            max-width: 315px;
            padding-left: 55px;
            line-height: 52px;
        }
        @include _480 {
            font-size: 30px;
            max-width: 250px;
            line-height: 40px;
            padding-left: 30px;
        }
        @include _350 {
            font-size: 25px;
            max-width: 200px;
            line-height: 35px;
            padding-left: 25px;
        }
    }

    // .row__fruits-title

    &__fruits-title {
        color: #fff;
    }

    // .row__vegetables-title

    &__vegetables-title {
    }
}

.aboutus {
    background-color: $cardsColor;
    padding: 130px 0 140px 0;

    @include _768 {
        padding: 70px 0;
    }

    // .aboutUs__inner

    &__inner {
        display: flex;
        gap: 30px;
    }

    // .aboutUs__img-box

    &__img-box {
        flex-shrink: 3;

        @include _600 {
            display: none;
        }
    }

    // .aboutUs__img

    &__img {
        width: 100%;
    }

    // .aboutUs__content

    &__content {
        max-width: 675px;
    }

    // .aboutUs__subtitle

    &__subtitle {
    }

    // .aboutUs__title

    &__title {
        margin-bottom: 22px;
        max-width: 520px;
    }

    // .aboutUs__desc

    &__desc {
        color: $descColor;
        font-family: $fontDesc;
        font-weight: 400;
        font-size: 18px;
        line-height: 32px;
        letter-spacing: 0.36px;
        @include _480 {
            font-size: 16px;
            line-height: 22px;
        }
    }

    // .aboutUs__points

    &__points {
        margin-top: 56px;
        margin-bottom: 50px;
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    // .aboutUs__point

    &__point {
        display: flex;
        gap: 20px;
    }

    // .aboutUs__points-img

    &__points-img {
        position: relative;
        min-width: 100px;
        height: 100px;
        background-color: #fff;
        border-radius: 20px;
        &::after {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            display: block;
        }
        &1::after {
            background: url('../icons/point1.svg') no-repeat;
            width: 53px;
            height: 46px;
        }
        &2::after {
            background: url('../icons/point2.svg') no-repeat;
            width: 56px;
            height: 52px;
        }
    }

    // .aboutUs__points-content

    &__points-content {
    }

    // .aboutUs__point-title

    &__point-title {
        font-family: $fontTitles;
        font-weight: 400;
        font-size: 25px;
        line-height: 35px;
        letter-spacing: 0.36px;
        margin-bottom: 9px;
    }

    // .aboutUs__point-desc

    &__point-desc {
    }

    // .aboutUs__btn

    &__btn {
        color: #fff;
        background-color: $mainColor;
        border: 1px solid $mainColor;
    }
}

.products {
    padding: 120px 0;
    @include _768 {
        padding: 70px 0;
    }

    // .products__inner

    &__inner {
    }

    // .products__header

    &__header {
        text-align: center;
        margin-bottom: 42px;
    }

    // .products__subtitle

    &__subtitle {
    }

    // .products__title

    &__title {
    }

    // .products__cards

    &__cards {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        @include _1170 {
            grid-template-columns: repeat(2, 1fr);
        }

        @include _480 {
            justify-content: center;
            grid-template-columns: 0.8fr;
        }
    }

    // .products__card

    &__card {
        background-color: $cardsColor;
        border-radius: 30px;
        padding: 30px;
        transition: all 0.5s;
        &:hover {
            transform: scale(1.05);
            box-shadow: 0px 2px 18px rgba(0, 0, 0, 0.14);
        }
        &:hover .products__name {
            color: $secondaryColor;
        }
    }

    // .products__kind

    &__kind {
        font-family: $fontDesc;
        font-weight: 700;
        font-size: 15px;
        line-height: 27px;
        letter-spacing: 0.36px;
        color: #ffffff;
        background-color: $mainColor;
        display: inline-block;
        padding: 5px 20px;
        border-radius: 8px;
    }

    // .products__img

    &__img {
        width: 100%;
    }

    // .products__desc

    &__desc {
    }

    // .products__name

    &__name {
        font-family: $fontTitles;
        font-weight: 400;
        font-size: 22px;
        line-height: 35px;
        letter-spacing: 0.36px;
        margin-top: 19px;
        transition: all 0.5s;
    }

    // .products__price

    &__price {
        font-family: $fontDesc;
        line-height: 32px;
        letter-spacing: 0.36px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
    }

    // .products__old-price

    &__old-price {
        font-weight: 400;
        text-decoration-line: line-through;
        color: #b8b8b8;
    }

    // .products__new-price

    &__new-price {
        font-weight: 700;
        font-size: 18px;
        flex-grow: 1;
    }
}

.reviews {
    background: url('../images/reviewsbg.jpg') no-repeat;
    background-size: 100% 100%;
    padding: 130px 0;
    @include _768 {
        padding: 70px 0;
    }

    // .reviews__inner

    &__inner {
        text-align: center;
        max-width: 1070px;
        margin: 0 auto;
        overflow: hidden;
    }

    // .reviews__header

    &__header {
    }

    // .reviews__subtitle

    &__subtitle {
    }

    // .reviews__title

    &__title {
    }

    // .reviews__item

    &__item {
        font-weight: 400;
        letter-spacing: 0.36px;
        margin: 60px auto 100px auto;
        max-width: 966px;
        @include _768 {
            margin-bottom: 0;
        }
    }

    // .reviews__customer-photo

    &__customer-photo {
        border-radius: 50%;
        margin-bottom: 18px;
        width: 115px;
        height: 115px;
    }

    // .reviews__customer-rating

    &__customer-rating {
        color: #ffa858;
        margin-bottom: 30px;
    }

    // .reviews__customer-review

    &__customer-review {
        max-width: 942px;
        font-family: $fontDesc;
        font-size: 18px;
        line-height: 32px;
        color: $descColor;
        margin-bottom: 23px;
    }

    // .reviews__customer-name

    &__customer-name {
        font-family: $fontTitles;
        font-weight: 700;
        font-size: 26px;
        line-height: 34px;
    }

    // .reviews__customer-position

    &__customer-position {
        font-family: $fontDesc;
        font-weight: 400;
        font-size: 18px;
        line-height: 32px;
        margin-bottom: 96px;
    }

    // .reviews__line

    &__line {
    }
    // .reviews__row
    &__row {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        justify-items: center;
        gap: 26px;
        max-width: 1070px;
        @include _1170 {
            grid-template-columns: repeat(2, 1fr);
        }

        @include _768 {
            display: none;
        }
    }

    // .reviews__row-item

    &__row-item {
        background: #f1f1f1;
        border: 4px solid #ffffff;
        outline: 4px solid #7eb693;
        border-radius: 50%;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 230px;
        width: 230px;
        margin-bottom: 20px;
        transition: all 0.3s;
        &:hover {
            outline: 8px solid #7eb693;
        }
    }

    // .reviews__row-num

    &__row-num {
        font-family: $fontTitles;
        font-weight: 700;
        font-size: 42px;
        line-height: 55px;
    }

    // .reviews__row-text

    &__row-text {
        font-family: $fontDesc;
        font-weight: 700;
        font-size: 18px;
        line-height: 32px;
    }
}

.products2 {
    background-color: $mainColor;
    padding: 140px 0;
    @include _768 {
        padding: 70px 0;
    }

    // .products2__inner

    &__inner {
    }

    // .products2__header

    &__header {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: end;
        margin-bottom: 44px;
        @include _850 {
            flex-direction: column;
            align-items: center;
            text-align: center;
            gap: 20px;
        }
    }

    // .products2__title-inner

    &__title-inner {
    }

    // .products2__subtitle

    &__subtitle {
    }

    // .products2__title

    &__title {
        color: #ffffff;
        max-width: 900px;
    }

    // .products2__btn

    &__btn {
        background-color: $btnColor;
        color: $mainColor;
    }
}

.eco-friendly {
    // .eco-friendly__inner

    &__inner {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        @include _850 {
            justify-content: center;
        }
    }

    &__img {
        position: absolute;
        top: 0;
        left: 0;
        right: 50%;
        bottom: 0;
        display: block;
        z-index: -1;
        @include _850 {
            display: none;
        }
    }
    // .eco-friendly__content

    &__content {
        max-width: 720px;
        background-color: #fff;
        border-radius: 30px;
        margin: 40px 0 26px 0;
        padding: 60px;
        @include _850 {
            padding: 15px;
        }
    }

    // .eco-friendly__header

    &__header {
        max-width: 400px;
        margin-bottom: 30px;
        @include _850 {
            margin: 0 auto;
            text-align: center;
            margin-bottom: 40px;
        }
    }

    // .eco-friendly__subtitle

    &__subtitle {
    }

    // .eco-friendly__title

    &__title {
    }

    // .eco-friendly__points

    &__points {
        display: flex;
        flex-direction: column;
        gap: 9px;
    }

    // .eco-friendly__point

    &__point {
        letter-spacing: 0.36px;
    }

    // .eco-friendly__points-title

    &__points-title {
        font-family: $fontTitles;
        font-weight: 700;
        font-size: 23px;
        line-height: 32px;
        text-transform: capitalize;
    }

    // .eco-friendly__points-subtitle

    &__points-subtitle {
        font-family: $fontDesc;
        font-weight: 400;
        font-size: 18px;
        line-height: 32px;
        color: $descColor;
    }
}

.row2 {
    padding: 140px 0;
    background: #eff6f1;
    position: relative;
    z-index: -2;

    @include _768 {
        padding: 70px 0;
    }

    // .row2__inner

    &__inner {
    }

    // .row2__cards

    &__cards {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
        letter-spacing: 0.36px;
        @include _850 {
            justify-content: center;
            grid-template-columns: 0.8fr;
        }
    }

    // .row2__card

    &__card {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        letter-spacing: 0.36px;
        font-family: $fontTitles;
        font-weight: 700;
        font-size: 24px;
        text-align: center;
        line-height: 35px;
        transition: all 0.3s;
        cursor: pointer;

        &:hover {
            transform: scale(1.05);
        }
        &:hover .row2__card-text {
            transform: scale(1.1);
        }
    }

    // .row2__card-img

    &__card-img {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: -1;
    }

    // .row2__card-text

    &__card-text {
        background: #ffffff;
        border-radius: 20px;
        padding: 30px 50px;
        transition: all 0.3s;
        margin: 60% 0;

        @include _1170 {
            font-size: 18px;
            margin: 50% 0;
            padding: 15px 30px;
        }

        @include _850 {
            font-size: 24px;
        }

        @include _979 {
            margin: 45% 0;
            padding: 10px 15px;
        }

        @include _768 {
            margin: 45% 0;
            padding: 5px 8px;
        }
    }
}

.news {
    padding: 130px 0 150px 0;
    @include _480 {
        padding: 70px 0;
    }
    // .news__inner

    &__inner {
    }

    // .news__header

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: end;
        margin-bottom: 104px;
        gap: 30px;
        @include _768 {
            flex-direction: column;
            align-items: center;
        }

        @include _480 {
            margin-bottom: 25px;
        }
    }

    // .news__header-inner

    &__header-inner {
    }

    // .news__subtitle

    &__subtitle {
    }

    // .news__title

    &__title {
    }

    // .news__btn

    &__btn {
        background: #ffffff;
        border: 1px solid #274c5b;
        white-space: nowrap;
    }

    // .news__posts

    &__posts {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;

        @include _480 {
            grid-template-columns: 1fr;
        }
    }

    // .news__post

    &__post {
        position: relative;
        height: 580px;
        display: flex;
        flex-wrap: wrap;
        align-items: end;
        justify-content: center;

        @include _1366 {
            height: 450px;
        }

        @include _1024 {
            height: 400px;
        }

        @include _979 {
            height: 350px;
        }

        @include _768 {
            height: 250px;
        }

        @include _600 {
            height: 200px;
        }

        @include _480 {
            height: 250px;
        }
    }

    // .news__post-img

    &__post-img {
        position: absolute;
        width: 100%;
        bottom: 70px;
        z-index: 1;
        border-radius: 30px;

        @include _480 {
            display: none;
        }
    }

    // .news__post-content

    &__post-content {
        font-family: $fontTitles;
        letter-spacing: 0.36px;
        font-weight: 400;
        position: relative;
        z-index: 2;
        display: grid;
        grid-template-rows: 1fr, 3fr 3fr, 1fr;
        gap: 8px;
        background-color: #fff;
        max-width: 610px;
        padding: 48px 48px 60px 48px;
        height: 300px;
        border-radius: 30px;
        box-shadow: 0px 2px 18px rgba(0, 0, 0, 0.14);
        transition: all 0.3s;
        &:hover {
            transform: scale(1.05);
        }

        &:hover .news__link {
            color: $secondaryColor;
        }

        @include _1366 {
            padding: 30px;
            height: 280px;
        }

        @include _1024 {
            padding: 15px;
            height: 270px;
        }

        @include _979 {
            height: 260px;
        }

        @include _768 {
            height: 240px;
        }

        // @include _600 {
        //     height: 230px;
        // }

        @include _480 {
            height: 200px;
        }
    }

    // .news__post-author

    &__post-author {
        font-size: 17px;
        line-height: 23px;
        padding-left: 28px;
        position: relative;
        align-self: center;

        &::before {
            content: '';
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            display: block;
            background: url('../icons/man.svg') no-repeat;
            width: 18px;
            height: 20px;
        }

        @include _768 {
            font-size: 15px;
            line-height: 18px;
        }

        @include _600 {
            font-size: 14px;
            line-height: 16px;
        }

        @include _480 {
        }
    }

    &__post-title {
        font-weight: 700;
        font-size: 25px;
        line-height: 35px;

        @include _1366 {
            font-size: 20px;
            line-height: 30px;
        }

        @include _1024 {
            font-size: 18px;
            line-height: 28px;
        }

        @include _979 {
            font-size: 16px;
            line-height: 26px;
        }

        @include _768 {
            font-size: 14x;
            line-height: 24px;
        }
    }

    // .news__desc

    &__desc {
        font-family: $fontDesc;
        font-size: 18px;
        line-height: 32px;
        color: $descColor;

        @include _1366 {
            font-size: 16px;
            line-height: 26px;
        }

        @include _979 {
            font-size: 14px;
            line-height: 20px;
        }
    }

    // .news__link

    &__link {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 10px;
        transition: all 0.3s;

        &-arrow {
            width: 19px;
            height: 19px;
            background-color: #335b6b;
            border-radius: 50%;
            position: relative;
            &::after {
                content: '';
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                display: block;
                background: url('../icons/arrow2.svg') no-repeat;
                width: 9px;
                height: 8px;
            }
        }
    }
}

.subscribe {
    padding-bottom: 50px;

    // .subscribe__inner

    &__inner {
        background-image: url('../images/subscribebg.jpg');
        background-size: 100% 100%;
        border-radius: 30px;
        padding: 100px 80px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        @include _1170 {
            flex-direction: column;
            align-content: center;
            padding: 40px;
            gap: 30px;
            justify-content: center;
        }

        @include _768 {
            gap: 50px;
            padding: 60px 20px;
        }
        @include _480 {
            padding: 40px 20px;
        }
    }

    // .subscribe__title

    &__title {
        font-family: $fontTitles;
        font-weight: 700;
        font-size: 50px;
        line-height: 60px;
        letter-spacing: 0.36px;
        text-transform: capitalize;
        color: #ffffff;
        max-width: 325px;
        @include _1170 {
            text-align: center;
            margin-bottom: 15px;
        }
        @include _600 {
            font-size: 40px;
            line-height: 40px;
        }

        @include _480 {
            font-size: 30px;
            line-height: 30px;
        }
    }

    // .subscribe__form

    &__form {
        display: flex;
        height: 82px;
        gap: 10px;
        @include _768 {
            flex-direction: column;
            justify-content: center;
            padding: 20px;
        }
    }

    // .subscribe__email

    &__email {
        border: 1px solid #cccccc;
        border-radius: 16px;
        padding: 26px 30px;
        width: 350px;
        font-family: $fontDesc;
        font-weight: 400;
        font-size: 18px;
        line-height: 29px;
        letter-spacing: 0.36px;
        color: $descColor;
        @include _768 {
            padding: 16px 20px;
        }

        @include _480 {
            width: 260px;
        }
    }

    // .subscribe__btn

    &__btn {
        background: $mainColor;
        border: 1px solid $mainColor;
        color: #fff;
        @include _768 {
            align-self: center;
        }

        @include _768 {
            margin-bottom: 43px;
        }
    }
}

.footer {
    flex: 0 0 auto;
    padding: 100px 0;

    // .footer__inner

    &__inner {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    // .footer__body

    &__body {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        gap: 22px;

        @include _979 {
            grid-template-columns: 1fr 1fr;
            grid-template-rows: repeat(2, auto);
        }

        @include _480 {
            grid-template-columns: 1fr;
        }
    }

    // .footer__contact

    &__contact {
        text-align: right;
    }

    // .footer__contact-list

    &__contact-list {
        display: flex;
        flex-direction: column;
        gap: 40px;
        @include _979 {
            text-align: center;
            gap: 10px;
            border-right: 1px solid #d5d5d5;
        }

        @include _600 {
            border-right: none;
        }
    }

    // .footer__contact-item

    &__contact-item {
        letter-spacing: 0.36px;
        font-family: $fontDesc;
    }

    // .footer__contact-title

    &__contact-title {
    }

    // .footer__title

    &__title {
        font-family: $fontTitles;
        font-weight: 700;
        font-size: 30px;
        line-height: 42px;

        @include _600 {
            font-size: 25px;
        }

        @include _480 {
            font-size: 20px;
        }
    }

    // .footer__contact-item-title

    &__contact-item-title {
        font-weight: 700;
        font-size: 18px;
        line-height: 23px;
        color: $descColor;
        margin-bottom: 5px;
    }

    // .footer__contact-item-text

    &__contact-item-text {
    }
    &__text {
        font-weight: 400;
        font-size: 18px;
        line-height: 29px;
        color: $descColor;
        transition: all 0.3s;
        &-hover:hover {
            color: $secondaryColor;
        }
    }

    // .footer__sosial

    &__sosial {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 0 52px 0;
        border-left: 1px solid #d5d5d5;
        border-right: 1px solid #d5d5d5;
        @include _979 {
            grid-column: 1 / 3;
            grid-row: 2 / 3;
            border-left: none;
            border-right: none;
        }

        @include _480 {
            grid-column: 1 / 2;
            grid-row: 3 / 2;
            padding: 0;
        }
    }

    // .footer__logo

    &__logo {
        margin-bottom: 50px;
        @include _979 {
            margin-bottom: 25px;
        }
    }

    // .footer__text

    &__sosial-text {
        font-family: $fontDesc;
        line-height: 32px;
        max-width: 540px;
        margin-bottom: 50px;
        @include _979 {
            margin-bottom: 30px;
        }
    }

    // .footer__sosial-list

    &__sosial-list {
        display: flex;
        gap: 20px;
        align-items: center;

        @include _480 {
            gap: 15px;
        }

        @include _350 {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
        }
    }

    // .footer__sosial-item
    &__sosial-item {
        &-link {
            display: block;
            border-radius: 50%;
            background-color: #eff6f1;
            position: relative;
            width: 60px;
            height: 60px;
            transition: all 0.7s;
            &::after {
                content: '';
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                display: block;
            }

            &:hover {
                background-color: $secondaryColor;
            }
        }

        // .footer__sosial-item-facebook

        &-facebook::after {
            background: url('../icons/facebook.svg') no-repeat;
            width: 20px;
            height: 19px;
        }

        // .footer__sosial-item-twitter

        &-twitter::after {
            background: url('../icons/twitter.svg') no-repeat;
            width: 21px;
            height: 17px;
        }

        // .footer__sosial-item-instagram

        &-instagram::after {
            background: url('../icons/instagram.svg') no-repeat;
            width: 20px;
            height: 19px;
        }

        // .footer__sosial-item-pinterest

        &-pinterest::after {
            background: url('../icons/pinterest.svg') no-repeat;
            width: 20px;
            height: 20px;
        }
    }

    // .footer__utility

    &__utility {
    }

    // .footer__utility-list

    &__utility-list {
        font-family: $fontDesc;
        display: flex;
        flex-direction: column;
        gap: 24px;
        @include _979 {
            text-align: center;
            gap: 10px;
            border-left: 1px solid #d5d5d5;
        }

        @include _600 {
            border-left: none;
        }
    }

    // .footer__utility-item

    &__utility-item {
    }

    // .footer__utility-title

    &__utility-title {
    }

    // .footer__ilem-link

    &__ilem-link {
    }

    // .footer__row
}
