// Colors

$mainColor: #274c5b;
$secondaryColor: #7eb693;
$descColor: #525C60;
$btnColor: #EFD372;
$cardsColor: #F9F8F8;

// fonts

$fontTitles: 'Roboto';
$fontSubTitles: 'ComforterBrush';
$fontDesc: 'OpenSans';
